name: 'Linux GCC'

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - { icon: '游릳', cc: gcc-7, cxx: g++-7, name: 'GCC 7', gpp : 'g++-7-multilib' }
          - { icon: '游릱', cc: gcc-8, cxx: g++-8, name: 'GCC 8', gpp : 'g++-8-multilib' }
          - { icon: '游릴', cc: gcc-9, cxx: g++-9, name: 'GCC 9', gpp : 'g++-9-multilib' }
          - { icon: '游린', cc: gcc-10, cxx: g++-10, name: 'GCC 10', gpp : 'g++-10-multilib' }
    name: '游뚾 ${{ matrix.icon }} ${{ matrix.name }}'

    steps:

      - name: '游빓 Add toolchains'
        run: sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y && sudo apt-get update

      - name: '游빓 Checkout'
        uses: actions/checkout@v3

      - name: '游닌 Load .env file'
        if: hashFiles('.github/workflows/.env/.env') != ''
        uses: xom9ikk/dotenv@v1.0.2
        with:
          path: .github/workflows/.env

      - name: '游닌 Load .env.linux_gcc file'
        if: hashFiles('.github/workflows/.env/.env.linux_gcc') != ''
        uses: xom9ikk/dotenv@v1.0.2
        with:
          path: .github/workflows/.env
          mode: linux_gcc

      - name: '${{ matrix.icon }} Setup CMake'
        uses: jwlawson/actions-setup-cmake@v1.11
        with:
          cmake-version: '${{env.CMAKE_VERSION}}'
          github-api-token: ${{ secrets.GITHUB_TOKEN }}

      - name: '${{ matrix.icon }} Install ${{ matrix.cc }}'
        run: sudo apt-get install ${{ matrix.cc }} ${{ matrix.gpp }}

      - name: '${{ matrix.icon }} Install packages'
        if: ${{ env.INSTALL_PACKAGES != '' }}
        run: sudo apt-get install ${{env.INSTALL_PACKAGES}}

      - name: '游댢 Configure'
        env:
          CC: ${{matrix.cc}}
          CXX: ${{matrix.cxx}}
        run: cmake -S . -B ${{ env.CMAKE_BUILD_PREFIX }} -D CMAKE_BUILD_TYPE=${{ env.CMAKE_BUILD_TYPE }}  -DBUILD_TESTS=${{ env.BUILD_TESTS }} -DBUILD_DOCS=${{ env.BUILD_DOCS }} -DBUILD_EXAMPLES=${{ env.BUILD_EXAMPLES }}

      - name: '丘뙖잺 Build'
        run: cmake --build ${{ env.CMAKE_BUILD_PREFIX }} --config ${{ env.CMAKE_BUILD_TYPE }} --parallel ${{ env.CMAKE_NUMBER_JOBS }}

      - name: '游빍 Run tests'
        working-directory: ${{ env.CMAKE_BUILD_PREFIX }}
        run: ctest -C ${{ env.CMAKE_BUILD_TYPE }} --parallel ${{ env.CMAKE_NUMBER_JOBS_TESTS }} -VV --output-on-failure
