name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    
    - name: 'Install packages'
      run: sudo apt-get install subversion git cmake lcov libssl-dev python-pip clang-tidy cppcheck iwyu clang clang-format cppcheck
      
    - name: 'Install packages with pip'
      run: pip install --user cpplint
      
    - uses: pre-commit/action@v2.0.3
