name: 'Windows MSYS2'

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - { icon: '游릳', sys: mingw32, env: i686, name: MINGW32 }
          - { icon: '游릱', sys: mingw64, env: x86_64, name: MINGW64 }
          - { icon: '游릴', sys: ucrt64,  env: ucrt-x86_64, name: UCRT64 }  # Experimental!
          - { icon: '游린', sys: clang64, env: clang-x86_64, name: Clang64 } # Experimental!
    name: '游뚾 ${{ matrix.icon }} ${{ matrix.name }}'
    defaults:
      run:
        shell: msys2 {0}

    steps:

      - name: '游빓 Checkout'
        uses: actions/checkout@v4

      - name: '游닌 Load .env file'
        if: hashFiles('.github/workflows/.env/.env') != ''
        uses: xom9ikk/dotenv@v1.0.2
        with:
          path: .github/workflows/.env/

      - name: '游닌 Load .env.windows_msys2 file'
        if: hashFiles('.github/workflows/.env/.env.windows_msys2') != ''
        uses: xom9ikk/dotenv@v1.0.2
        with:
          path: .github/workflows/.env/
          mode: windows_msys2

      - name: '${{ matrix.icon }} Setup MSYS2'
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.sys}}
          path-type: minimal
          release: true
          update: true
          install: >-
            git
            make
            mingw-w64-${{matrix.env}}-toolchain
            mingw-w64-${{matrix.env}}-cmake
            mingw-w64-${{matrix.env}}-ninja
            pcre
            ${{env.INSTALL_PACKAGES}}

      - name: '游댢 Configure'
        run: cmake -S . -B ${{ env.CMAKE_BUILD_PREFIX }} -D CMAKE_BUILD_TYPE=${{ env.CMAKE_BUILD_TYPE }}  -DBUILD_TESTS=${{ env.BUILD_TESTS }} -DBUILD_DOCS=${{ env.BUILD_DOCS }} -DBUILD_EXAMPLES=${{ env.BUILD_EXAMPLES }}

      - name: '丘뙖잺 Build'
        run: cmake --build ${{ env.CMAKE_BUILD_PREFIX }} --config ${{ env.CMAKE_BUILD_TYPE }} --parallel ${{ env.CMAKE_NUMBER_JOBS }}

      - name: '游빍 Run tests'
        working-directory: ${{ env.CMAKE_BUILD_PREFIX }}
        run: ctest -C ${{ env.CMAKE_BUILD_TYPE }} --parallel ${{ env.CMAKE_NUMBER_JOBS_TESTS }} -VV --output-on-failure
