name: 'Windows MSVC'

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - { icon: '游릳', env: Win32, toolset: x86  }
          - { icon: '游릱', env: x64, toolset: x64 }
          #- { icon: '游릴', env: ARM, toolset: x86 }
          #- { icon: '游린', env: ARM64, toolset: x64 }
    name: '游뚾 ${{ matrix.icon }} ${{ matrix.env }}'

    steps:

      - name: '游빓 Checkout'
        uses: actions/checkout@v2.4.0

      - name: '游닌 Load .env file'
        if: hashFiles('.github/workflows/.env/.env') != ''
        uses: xom9ikk/dotenv@v1.0.2
        with:
          path: .github/workflows/.env/

      - name: '游닌 Load .env.windows_msvc file'
        if: hashFiles('.github/workflows/.env/.env.windows_msvc') != ''
        uses: xom9ikk/dotenv@v1.0.2
        with:
          path: .github/workflows/.env/
          mode: windows_msvc

      - name: '${{ matrix.icon }} Setup CMake'
        uses: jwlawson/actions-setup-cmake@v1.11
        with:
          cmake-version: '${{env.CMAKE_VERSION}}'
          github-api-token: ${{ secrets.GITHUB_TOKEN }}

      - name: '${{ matrix.icon }} Setup Visual Studio'
        uses: ilammy/msvc-dev-cmd@v1.10.0

      - name: '${{ matrix.icon }} Install package'
        run: choco install git ${{env.INSTALL_PACKAGES}}

      - name: '游댢 Configure'
        run: cmake -S ${{ github.workspace }} -B ${{ env.CMAKE_BUILD_PREFIX }} -A ${{matrix.env}} -T host=${{matrix.toolset}} -DBUILD_TESTS=${{ env.BUILD_TESTS }} -DBUILD_DOCS=${{ env.BUILD_DOCS }} -DBUILD_EXAMPLES=${{ env.BUILD_EXAMPLES }}

      - name: '丘뙖잺 Build'
        run: cmake --build ${{ env.CMAKE_BUILD_PREFIX }} --config ${{ env.CMAKE_BUILD_TYPE }} --parallel ${{ env.CMAKE_NUMBER_JOBS }}

      - name: '游빍 Run tests'
        if: ${{ matrix.env != 'ARM' && matrix.env != 'ARM64' }}
        working-directory: ${{ env.CMAKE_BUILD_PREFIX }}
        run: ctest -C ${{ env.CMAKE_BUILD_TYPE }} --parallel ${{ env.CMAKE_NUMBER_JOBS }} -VV --output-on-failure
